@model List<System.Security.Claims.Claim>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This page does not require a logged on user.</p>
    <p>Click @Html.ActionLink("here", "Secured") to access a protected page.</p>
</div>

@if(Model != null)
{
    foreach(var claim in Model)
    {
        <span>@claim.Type - @claim.Value</span>
        <hr />
    }
}

@if(!string.IsNullOrEmpty(ViewBag.AccessToken))
{
    <span>AccessToken:</span>
    <pre>@ViewBag.AccessToken</pre>
}
